.contactHeadingLanding{
    width: 50%;
    padding-right: 30px;
}
.contactBlockImage {
    float: right;
    margin-right: 0;
    justify-content: end;
    width: 50%;
    display: flex;
}
.contactLandingHeading {
    font-size: 60px;
    color: rgb(255, 145, 0);
}


.contactFormBlock {
    margin-top: 30px;
    margin-bottom: 50px;
}

.contactForm {
    margin-left: 10px;
}

.inputLable {
    font-size: 20px;
}

.inputField{
    margin-top: 10px;
    margin-bottom: 15px;
    height: 30px;
    border-radius: 10px;
    width: 28vw;
    border: solid black 2px;
}

.inputFieldMsg {
    margin-top: 10px;
    height: 60px;
    border-radius: 10px;
    width: 28vw;
    border: solid black 2px;
}